@import "partials/reset";
@import "partials/mixins";
@import "partials/variables";

/* Open Sans - Font */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;600;700;800&family=Open+Sans&family=Poppins:wght@300;400;600;700&display=swap');

/* FONT FAMILY */
@font-face {
    font-family: "Caballerus";
    src: url("../media/fonts/Cinzel-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

/* CABECERA */
header.cabecera {
    background-color: rgb(239, 239, 239);
    text-align: center;
    .bxs-user-circle {
        font-size: 44px;
        color: black;
        position: relative;
        left: 25%;
        top: 6px;
    }

    .bxs-cart {
        font-size: 44px;
        color: black;
        position: relative;
        right: 25%;
        top: 6px;
    }
    a.link-inicio {
        text-decoration: none;
        color: black;
        .titulo-principal {
            font-size: $fuente-grande;
            font-family: "Caballerus";
            position: relative;
            top: 60px;
        }
    }
    nav.nav-bar {
        @include tamano(180px,100%);
        ul {
            display: inline-block;
            position: relative;
            right: 32px;
            top: 60%;
            li {
                display: inline-block;
                list-style: none;
                margin-left: 50px;
                a {
                    text-transform: uppercase;
                    font-size: $fuente-mediano + 3;
                    color: black;
                    font-weight: bold;
                    font-family: "Caballerus";
                    .color2 {
                        color: #b70f0a;
                    }
                }
            }
        }
    }
}

section.seccion-articulos-filtrados {
    @include tamano(100%, 100%);
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    div.cuerpo_card {
        @include tamano(440px, 240px);
        background-color: #eeecec;
        border-radius: 20px;
        margin-left: 90px;
        margin-bottom: 40px;
        box-shadow: 2px 2px 8px;
        img.img-producto {
            @include tamano(45%, 100%);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        h2.product-name {
            margin-top: 10px;
            font-size: $fuente-mediano + 8;
            font-family: $tipo-de-fuente2;
        }
        p.product-price {
            font-size: $fuente-mediano + 2;
            font-weight: bold;
        }
        .btn-info {
            width: 80%;
            background-color: #575757;
            color: white;
            margin: 6px;
            padding: 10px;
            border-radius: 8px;
            border: none;
        }
        .btn-carrito {
            background-color: #b70f0a;
            color: white;
            margin: 6px;
            padding: 8px;
            border-radius: 8px;
            border: none;
        }
    img.img-producto:hover {
        opacity: 0.8;
    }
}}




// MEDIA QUERYS
//ICONOS
@media screen and (max-width: 800px) {
    header.cabecera {
        .bxs-user-circle {
            font-size: 44px;
            position: relative;
            top: 70px;
        }
        .bxs-cart {
            font-size: 44px;
            color: black;
            position: relative;
            right: 25%;
            top: 70px;
        }
    }
}

//Navbar
@media screen and (max-width: 500px) {
    header.cabecera {
        nav.nav-bar {
            @include tamano(300px,100%);
            ul {
                display: inline-block;
                position: relative;
                right: 32px;
                top: 40%;
                li {
                    display: inline-block;
                    list-style: none;
                    margin-left: 50px;
                    a {
                        text-transform: uppercase;
                        font-size: $fuente-mediano + 3;
                        color: black;
                        font-weight: bold;
                        font-family: "Caballerus";
                        .color2 {
                            color: #b70f0a;
                        }
                    }
                }
            }
        }
    }
}